@charset "UTF-8";
/*
  # Kirby Starterkit

  This CSS file handles all of the styling in of Kirby’s
  Starterkit. Feel free to tinker around with it and
  adjust it according to your needs.

  ## Color Definitions

  The following colors used in the Starterkit. If you want
  to use this CSS file as a starting point for your own
  project, you can do a simple search & replace to adjust
  the color scheme to your needs.

  - Background color:      #ffffff
  - Background even:       #fcfcfc
  - borbers:               #eeeeee
  - Text:                  #
  - Links:                 #d9534f
  - Hovered Links:         #c9302c


*/




/* ----- Neutralize some Boostraap css  --------------------------------------------------- */
.navbar-default {
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #eeeeee;
}
.jumbotron {
    background-color: transparent;
}
.container .jumbotron, .container-fluid .jumbotron {
    border-radius: none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: transparent; }
.navbar-default .navbar-toggle { border: none; }


/* ----- New css tempaltes  --------------------------------------------------- */
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > [class^="col-"],
.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  width: 100%;
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

/* ----- General --------------------------------------------------- */
body {
  font-family: "Helvetica", Georgia, serif;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3 {
  /*text-transform:uppercase;*/
}


hr.line { border-color: #d9534f; }

/* ----- Link & Buttons  --------------------------------------------------- */
a { color: #d9534f; }
a:hover, a:focus { color: #c9302c; }
.btn-danger { background-color: #d9534f; border-color: transparent; }
.btn-danger:focus, .btn-danger.focus, .btn-danger:hover { background-color: #c9302c; border-color: transparent; }
.btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover { border-color: transparent; }
.btn-link { color: #d9534f; }
.btn-link:hover, .btn-link:focus { color: #c9302c; }









/* ----- home header  --------------------------------------------------- */
@media(min-width:767px) {
    .navbar { padding: 15px 0; -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out; -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out; }
    .top-nav-collapse { padding: 0; }
    .navbar-default a.active { border-bottom: 2px solid #d9534f; }
}
#section-header { height: 100%; padding-top: 90px; text-align: center; color: #fff; }
#section-header .jumbotron { padding-top: 0px }


/* ----- Sections  --------------------------------------------------- */
section {
  border-bottom: 1px solid #eeeeee;
}
section:nth-child(odd) {background: #ffffff}
section:nth-child(even) {background: #fcfcfc}
section .container {
  padding: 60px 0 70px 0;
}
@media(min-width:767px) {
 section:first-of-type { padding-top: 60px; }
}


hr.line {
    color: #d9534f;
    max-width: 50px;
    border-width: 2px;
    padding-bottom: 60px;
}

/* ----- scrollup  --------------------------------------------------- */
.scrollup { position: fixed; right: 30px; bottom: 30px; }




/* ----- project  --------------------------------------------------- */
.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(256,256,256,0.8);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
vertical-align: middle;
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}



/* ----- social  --------------------------------------------------- */
#section-social a {
    color: #fff;
    text-decoration: none;
}
#section-social .fa {
    margin: 0 15px;
}
#section-social { background-color: #d9534f;}




/* ----- services  --------------------------------------------------- */
.icon {
    border: 1px solid #d9534f;
    text-align: center;
    width: 67px;
    height: 67px;
    line-height: 75px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.icon .fa {
    color: #d9534f;
}
.icon-legend-right {
    padding-left: 30px;
}
