body {
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  background: url('background.png') no-repeat center;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */

  background-size: cover;
  /* version standardisée */
}



a {
    border-bottom: 1px solid #b992fd;
    text-decoration: none;
}

a:hover {
    color: #b992fd;
}

a,
.link {
    color: #333333;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  width: 100%;
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

.col-sm-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:768px) {
    .col-sm-4 {
        float: left
    }

    .col-sm-4 {
        width: 33.33333333%
    }
  }

@media (min-width:768px) {
    .lead {
        font-size: 21px
    }
}

.text-left {
    text-align: left
}
